*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62%; /*10px=1rem*/
}

body{
    height: 100vh;
    font-size: 1.6rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    scroll-behavior: smooth;
}

.yellow-font{
    color: yellow;
}

.grid-container{
    display: grid;
    grid-template-areas: 'header' 'main' 'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 3fr 0.6fr;
    height: 100%;
}

header{
    grid-area: header;
    display: flex;
    justify-content: center;
    background-color: white;
}

nav{
    display: flex;
    flex-direction: row;
    width: 70%;
    font-size: 1.8rem;
    font-family: 'Tahoma';
    color: black;
    border-bottom: 0.25rem solid rgb(19, 117, 79);
    border-radius: 0.4rem;
    /* border: 1px solid black; */
}

.brand{
    width: 30%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    color: rgb(19, 117, 79);
    font-family: 'Consols','Helvetica';
    font-size: 2.3rem;
    font-weight: bold;
    /* border: 1px solid black; */
}

.options{
    list-style-type: none;
    display: flex;
    width: 70%;
    flex-direction: row;
    column-gap:4rem;
    align-items:center;
    justify-content:end;
    /* border: 1px solid black; */
}

.options button:hover{
    font-size: 3.3rem;
}

.options button{
    font-size: 2.8rem;
    border: none;
    outline: none;
    background:none;
}

.login-button:hover{
    cursor: pointer;
    font-size: 2.1rem;
}

main{
    grid-area: main;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 70%;
    /* border: 1px solid black; */
}

/** INPUT AREA **/
.input-area{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: 50%;
    /* border: 1px solid black; */
}

.input-area-header{
    display: flex;
    position: relative;
    column-gap: 2rem;
    align-items: flex-end;
    justify-content: flex-start;
    font-size: 1.7rem;
    width: 100%;
    height: auto;
    /* border: 1px solid black; */
}

.translate-btn{
    position: absolute;
    right: 0;
    top: 0;    
    background-color: rgb(67, 147, 212);
    border: none;
    outline: none;
    padding: 0.6rem;
    border-radius: 0.3rem;
    font-family: 'Helvetica';
    color: white;
    cursor: pointer;
}

.translate-btn:hover{
    background-color: rgb(48, 114, 168);
}

.input-area h4, .translation-area h4{
    color: rgb(19, 117, 79);
}

.input-area-text, .translation-area-text{
    margin-top: 1rem;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.input-area-text:focus, .translation-area-text:focus{
    border: 0.1rem lightslategray solid;
    border-radius: 0.5rem;
}

/** TRANSLATION AREA **/
.translation-area{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: 50%;
    border-top: 0.3rem solid lightgrey;
    /* border: 1px solid black; */
}

.translation-area-header{
    display: flex;
    flex-direction: row;
    align-items: end;
    column-gap: 5rem;
    font-size: 1.8rem;
}

.selected-language{
    width: 8rem;
}

.paste-text-btn, .copy-text-btn, .clear-text-btn{
    background-color:white;
    border: none;
    outline: none;
    font-weight: bold;
    font-family: 'Helvetica';
    color: rgb(67, 147, 212);
    cursor: pointer;
}

.copy-text-btn:hover, .paste-text-btn:hover, .clear-text-btn:hover{
    font-size: 1.4rem;
}


/** FOOTER **/
footer{
    grid-area: footer;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(30, 136, 95);
    color: white;
}

footer ul{
    list-style-type: none;
}

footer .footer-header{
    display: flex;
    justify-content: center;
    width: 75%;
    font-size: 2.5rem;
}

footer .footer-links{
    width: 75%;
    font-size: 2.5rem;
}

footer .footer-links ul{
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    justify-content: center;
}

.footer-links ul li{
    cursor: pointer;
}
